@model rdc.Models.Reclamacao

@{
    ViewBag.Title = "Reclamar";
    //     
    // Criação de uma lista para o selectlist     
    //        
    var list = new[] {
                new {value = "N", text = "Sem Solução do Fornecedor"},
                new {value = "I", text = "Resolvido e continuo Insatisfeito"},
                new {value = "C", text = "Resolvido e estou Satisfeito"},
            };
    var selecList = new SelectList(list, "value", "text", Model);
}

    <div id="submenucontainer">
        <ul id="submenu">
            <li>@Html.ActionLink("Minhas Reclamações", "RecIndex", "Reclamar", null, new { title = "Ver Reclamações que cadastrei no Reclame Agora" })</li>
            <li>@Html.ActionLink("Minhas Interações", "RecInterIndex", "Reclamar", null, new { title = "Ver Reclamações de outros Clientes que Interagi no Reclame Agora" })</li>
        </ul>                
    </div>

<h2>Nova Reclamação</h2>

<script src="@Url.Content("~/Scripts/CustomReclamacao.js")" type="text/javascript"></script>


@{
    if (!string.IsNullOrEmpty(ViewBag.msgsolfor))
    {
        <div class="success">@ViewBag.msgsolfor</div>
        <br />
    }
    if (!string.IsNullOrEmpty(ViewBag.msgcadrec))
    {
        <div class="success">@ViewBag.msgcadrec @Html.ActionLink("Aqui.", "Index", "Home")</div>
        <br />
    }
    <div class="success"><b>Os campos marcados com (*) são de preenchimento obrigatório.</b></div><br />
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Passo 1: Localizar o Fornecedor</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.IDFORNECEDOR, "Filtrar seu Fornecedor")
        </div>
        <div class="editor-field">
            @Html.TextBox("FILTRAFORNEC", null, new { uifocus = "focus" })
            <script type="text/javascript">
                $(document).ready(function () {
                    $('input[uifocus=focus]').focus();
                });
            </script>
            @Html.DropDownList("IDFORNECEDOR", "[Selecione o Fornecedor]")
            <span class="success"><b>*</b></span>
            <br /><br />
            <input class="button" type="button" value="Filtrar Fornecedor" onclick="listaFor();"/>
            <span id="produto"></span>
            @Html.ValidationMessageFor(model => model.IDFORNECEDOR)
            <p>@Html.ActionLink("Solicitar o cadastramento de um Fornecedor", "CreateFor", null, new { title = "Caso não tenha encontrado seu Fornecedor na Listagem acima, clique aqui e solicite seu cadastro. É rápido e fácil!" })</p>
        </div>
    </fieldset>
    <fieldset>
        <legend>Passo 2: Cadastrar a Reclamação</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.datacompra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.datacompra)
            <span class="success"><b>*</b></span>
            @Html.ValidationMessageFor(model => model.datacompra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.titulo, "Descrição da Reclamação")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.titulo)
            <span class="success"><b>*</b></span>
            @Html.ValidationMessageFor(model => model.titulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tiposolucao, "Qual é a Situação da Reclamação agora?")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.tiposolucao, selecList, "[Selecione]") 
            <span class="success"><b>*</b></span>
            @Html.ValidationMessageFor(model => model.tiposolucao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descricao, "Detalhes da Reclamação")
            <span class="success"><b>*</b></span>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.descricao, new { style = "width: 100%", @rows = "8" })
            @Html.ValidationMessageFor(model => model.descricao)
        </div>
          
        <div class="editor-label">
            @Html.LabelFor(model => model.fonecontato)
            <span class="success">(Somente o Fornecedor irá visualizar seu Contato)</span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fonecontato)
            <span class="success"><b>*</b></span>
            @Html.ValidationMessageFor(model => model.fonecontato)
        </div>

        <p>
            <input type="submit" class="button" value="Reclamar Agora" />
        </p>
    </fieldset>
}