@model rdc.Models.Interacao

@using (Html.BeginForm("CreateInteracao", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Para Interagir nessa Reclamação, escreva abaixo : </legend>
        @Html.HiddenFor(model => model.IDRECLAMACAO)
         <table>
            <tr>
                <td class="tdinteracaoleft">
                    <div class="editor-label">
                        @Html.Label("Data da Interação")
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DATAINTERACAO)
                        @Html.ValidationMessageFor(model => model.DATAINTERACAO)
                    </div>
                </td>
                 <td class="tdinteracaorigth">
                    <div class="editor-label">
                        @Html.Label("Escreva abaixo mais Detalhes sobre essa Reclamação : ")
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.INFORMACOES, new { style = "width: 100%", @rows = "8" })
                        @Html.ValidationMessageFor(model => model.INFORMACOES)
                    </div>
                </td>
            </tr>
        </table>
        <p>
            <input type="hidden" name="actionname" value="@TempData["actionname"]">
            <input type="submit" class="button" name="CreateInteracao" value="Inserir Interação" />
        </p>

    </fieldset>
}