@model rdc.Models.Fornecedor

@{
    ViewBag.Title = "Editar";
}

<h2>Editar o Fornecedor</h2>

<script src="@Url.Content("~/Scripts/jquery-cep-rdc-1.0.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CustomValidationCNPJ.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fornecedor</legend>

        @Html.HiddenFor(model => model.IDFORNECEDOR)
        @Html.HiddenFor(model => model.IDCLIENTE)
        @Html.HiddenFor(model => model.ENVEMAILCLISOL)

        <div class="editor-field">
            @Html.LabelFor(model => Model.auxativo) : 
            @Html.CheckBox("auxativo",Model.auxativo)
            @Html.ValidationMessageFor(model => Model.auxativo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.razaosocial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.razaosocial)
            @Html.ValidationMessageFor(model => Model.razaosocial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.nomefantasia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.nomefantasia)
            @Html.ValidationMessageFor(model => Model.nomefantasia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.cnpj)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.cnpj)
            @Html.ValidationMessageFor(model => Model.cnpj)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.cep)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.cep)
            @Html.ValidationMessageFor(model => Model.cep)
            <input class="button" type="button" value="Procurar Endereço" onclick="findcep();" />
            <p id="produto" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.ESTADO)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ESTADO", "[Selecione o Estado]")
            @Html.ValidationMessageFor(model => Model.ESTADO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.IDCIDADE)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IDCIDADE", "[Selecione o Estado para Buscar a Cidade]")
            @Html.ValidationMessageFor(model => Model.IDCIDADE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.endereco)
        </div>
        <div class="editor-field"> 
            @Html.EditorFor(model => Model.endereco)
            @Html.ValidationMessageFor(model => Model.endereco)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.fonefixo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.fonefixo)
            @Html.ValidationMessageFor(model => Model.fonefixo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.fonefixo2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.fonefixo2)
            @Html.ValidationMessageFor(model => Model.fonefixo2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.email)
            @Html.ValidationMessageFor(model => Model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.homepage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => Model.homepage)
            @Html.ValidationMessageFor(model => Model.homepage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.informacoes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => Model.informacoes, new { style = "width: 100%", @rows = "8" })
            @Html.ValidationMessageFor(model => Model.informacoes)
        </div>

        <p>
            <input type="submit" class="button" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>
